.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.about {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  flex-wrap: wrap;
}

.about-foto1 {
  margin-top: 35px;
  width: 430px;
  height: 430px;
  object-fit: cover;
  border-radius: 50%;
  /*transition: all 0.3s ease-in-out;*/
}

.about-foto1:hover {
  content: url('../../src/assets/img/fotoperfil9.jpg'); /* Imagen alternativa */
}

.about-texto {
  max-width: 700px;
  padding-left: 30px;
}

.about-titulos h2 {
  font-size: 150px;
  font-weight: 700;
  margin-bottom: -30px;
  margin-left: -6px;
}

.about-titulos h3 {
  font-size: 46px;
  font-weight: 700;
}

.about-titulos h4 {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0 10px 0;
}

.about-titulos p {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
}

/* Iconos de redes */
.social-icons {
  display: flex;
  gap: 25px;
  margin-bottom: 20px;
  justify-content: center;

}

.social-icons a {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.812);
}

.social-icons a:hover {
  transform: scale(1.2);
}

/* Botones de tecnologías estilo vidrio */
.tech-buttons {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.tech-buttons span {
  padding: 5px 10px;
  border-radius: 12px;
  background: rgba(183, 15, 15, 0.978);
  border: 1px solid rgb(27, 221, 46);
  backdrop-filter: blur(4px);
  color: #fff;
  font-size: 0.9rem;
}

/* Tablet */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    height: auto;
  }

  .about {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .about-foto1 {
    width: 250px;
    height: 250px;
    margin-top: 20px;
  }

  .about-texto {
    padding: 0;
  }

  .about-titulos h2 {
    font-size: 60px;
    margin-bottom: 10px;
    margin-left: 0;
  }

  .about-titulos h3 {
    font-size: 28px;
  }

  .about-titulos h4 {
    font-size: 18px;
  }

  .about-titulos p {
    font-size: 14px;
  }

  .social-icons {
    justify-content: center;
  }
}










/*Mobile*/
@media (max-width: 480px) {
  
}